<div class="flex flex-col flex-auto min-w-0 h-full">
  <acs-header
    buttonActionTitle="Criar uma nova receita"
    (actionListener)="handleAction($event)"
  ></acs-header>
  <div class="px-6 pb-6">
    <acs-table
      *ngIf="data"
      class="w-full"
      [config]="config"
      [data]="data"
      [selection]="selection"
      (actionListener)="handleAction($event)"
      (filtered)="getAll($event)"
      (sortabled)="handleSort($event)"
      (paginated)="handlePaginator($event)"
    >
    </acs-table>
  </div>
</div>
