<div class="relative flex flex-col w-full h-full bg-default">
  <ng-container>
    <div class="absolute top-0 right-0 pt-4 pr-4">
      <button mat-icon-button [matDialogClose]="'cancelled'">
        <mat-icon
          class="text-secondary dark:text-gray-50"
          [svgIcon]="'mat_outline:close'"
        ></mat-icon>
      </button>
    </div>
  </ng-container>
  <div
    class="flex flex-col sm:flex-row flex-auto items-center sm:items-start p-8 pb-6 sm:pb-8"
  >
    <ng-container *ngIf="data.title || data.message">
      <div
        class="flex flex-col items-center mt-4 sm:mt-0 space-y-1 text-center sm:text-left w-full"
      >
        <ng-container *ngIf="data.icon.name">
          <img
            class="w-[445px] h-[300px] mb-1.5 mt-10"
            [src]="data.icon.name"
            alt=""
          />
        </ng-container>

        <ng-container *ngIf="data.title">
          <div
            class="text-lg leading-6 font-semibold"
            [innerHTML]="data.title"
          ></div>
        </ng-container>
        <ng-container *ngIf="data.message">
          <div
            class="text-secondary dark:text-gray-50 text-md"
            [innerHTML]="data.message"
          ></div>
        </ng-container>
        <ng-container *ngIf="data.ingredients.length">
          <div class="text-secondary dark:text-gray-50 text-lg">
            Ingredientes:
          </div>
          <div
            *ngFor="let ingredient of data.ingredients"
            class="text-secondary dark:text-gray-50 text-md"
            [innerHTML]="ingredient"
          ></div>
        </ng-container>
      </div>
    </ng-container>
  </div>

  <ng-container *ngIf="data.actions.confirm.show || data.actions.cancel.show">
    <div
      class="flex flex-col items-center justify-center sm:justify-end px-6 py-4"
    >
      <ng-container *ngIf="data.actions.confirm.show">
        <button
          class="w-full my-2"
          mat-flat-button
          [color]="data.actions.confirm.color"
          [matDialogClose]="'confirmed'"
        >
          {{ data.actions.confirm.label }}
        </button>
      </ng-container>
    </div>
  </ng-container>
</div>
