<section
  id="tech"
  class="p-4 sm:p-16 md:p-16 lg:p-16 xl:p-16 text-white opacity-0 transition-all duration-[1500ms] ease-in-out"
>
  <div
    class="grid lg:grid-cols-2 md:grid-flow-row md:auto-rows-max max-w-screen-xl px-4 py-8 mx-auto gap-4 mt-14 light:text-black dark:text-gray-50"
  >
    <h2
      class="font-bold max-w-2xl text-xl tracking-tight leading-none md:text-2xl xl:text-3xl break-keep"
    >
      Nosso diferencial
    </h2>
    <div>
      <span class="font-bold text-md mb-4"
        >Interface Intuitiva e Amigável:</span
      >
      <p class="font-normal text-md mb-4">
        <span
          >Nossa plataforma foi cuidadosamente projetada para ser acessível e
          fácil de usar para todos os níveis de habilidade culinária. Com uma
          interface intuitiva, você pode navegar pelo sistema sem esforço e
          começar a cadastrar suas receitas imediatamente.
        </span>
      </p>
      <span class="font-bold text-md mb-4">Personalização Ilimitada:</span>
      <p class="font-normal text-md mb-4">
        <span>
          Oferecemos uma gama de opções de personalização para que você possa
          catalogar suas receitas de acordo com suas preferências. Desde a
          categorização por tipo de prato até a adição de fotos e notas
          pessoais, você tem total liberdade para deixar sua marca em cada
          receita.
        </span>
      </p>
      <span class="font-bold text-md mb-4"
        >Compartilhamento e Colaboração:</span
      >
      <p class="font-normal text-md mb-4">
        <span>
          Nosso sistema não se trata apenas de armazenar suas receitas, mas
          também de compartilhá-las com a comunidade. Compartilhe suas criações
          culinárias, receba feedback valioso de outros usuários e descubra
          novas inspirações para suas próximas aventuras na cozinha.
        </span>
      </p>
      <span class="font-bold text-md mb-4">Atualizações Constantes:</span>
      <p class="font-normal text-md mb-4">
        <span>
          Estamos comprometidos em melhorar continuamente nosso sistema,
          garantindo uma experiência de usuário excepcional.
        </span>
      </p>
    </div>
  </div>
</section>
