<div
  class="text-white p-4 sm:p-16 md:p-16 lg:p-16 xl:p-16 opacity-0 transition-all duration-[1500ms] ease-in-out"
  id="about"
>
  <div
    class="grid md:grid-flow-row md:auto-rows-max max-w-screen-xl px-4 py-8 mx-auto gap-4 mt-14 light:text-black dark:text-gray-50"
  >
    <h2
      class="font-bold w-full text-xl tracking-tight leading-none md:text-2xl xl:text-3xl break-keep"
    >
      Sobre o Recipes Finder
    </h2>
    <p class="font-normal text-md">
      Seja bem-vindo ao nosso novo sistema de cadastro de receitas culinárias!
      Aqui, você encontrará uma plataforma intuitiva e amigável, projetada para
      inspirar e simplificar sua jornada na arte da culinária. Com nosso
      sistema, você pode facilmente catalogar suas receitas favoritas, desde
      pratos tradicionais até suas criações únicas. Não importa se você é um
      chef experiente ou um iniciante na cozinha, estamos aqui para ajudar a
      transformar suas ideias gastronômicas em realidade. Explore nossa ampla
      gama de recursos, incluindo categorização por tipo de prato, ingredientes
      e nível de dificuldade. Além disso, você pode compartilhar suas receitas
      com a comunidade, receber feedback valioso e descobrir novas inspirações
      culinárias de outros usuários. Combinando praticidade e criatividade,
      nosso sistema é o parceiro perfeito para todos os entusiastas da
      culinária. Então, junte-se a nós e comece a criar, compartilhar e saborear
      experiências culinárias inesquecíveis. Cadastre-se agora e deixe sua
      imaginação gastronômica fluir!
    </p>
  </div>
</div>
